@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root {
    --primary: #1f2e88;
    --secondary: #2f66d4;
    --hover: #a2d9f5;
    --black: #333;
    --white: #fff;
    --light-coler: #666;
    --light-bg: #eee;
    --border: .2rem solid rgba(0, 0, 0, 0.1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var( --primary);
    border-radius: 5rem;
}

.section {
    padding: 5rem 7%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--primary);
}

.header .logo i {
    color: var(--primary);
    padding-right: .5rem;
}

.header .navbar a {
    font-size: 2rem;
    color: var(--black);
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: var(--secondary);
}


/*  header end */


/*  home */

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/hero-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}